<div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <form novalidate autocomplete="off">
        <div class="form-group" show-errors>
            <label for="user.username">Username</label>
            <input type="text" id="user.username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
        </div>
        <div class="form-group" show-errors>
            <label for="user.password">Password</label>
            <input type="password" id="user.password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
        </div>
        <div class="text-center form-group">
            <button type="submit" class="btn btn-primary" ng-click="login()">Log in</button>
            &nbsp; or&nbsp;
            <button class="btn btn-primary" ng-click="signup()">Sign up</button>
        </div>
        <div class="well">
            <label>http response: </label> {{responseContent}}
        </div>
    </form>
</div>